<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Heroes"
            visible="true"
            id="heroes.plugin.actionSet">
         <menu
               id="sampleMenu"
               label="Heroes">
            <groupMarker
                  name="heroes.plugin.file">
            </groupMarker>
            <groupMarker
                  name="heroes.plugin.score">
            </groupMarker>
            <groupMarker
                  name="heroes.plugin.help">
            </groupMarker>
         </menu>
         <action
               class="heroes.plugin.actions.ExitGameAction"
               icon="icons/Heroes-icon.jpg"
               id="heroes.plugin.actions.exitGameAction"
               label="Exit Game"
               menubarPath="sampleMenu/file"
               style="push"
               tooltip="Hello, Eclipse world">
         </action>
         <action
               class="heroes.plugin.actions.SaveAsGameAction"
               icon="icons/Heroes-icon.jpg"
               id="heroes.plugin.actions.saveGameAsAction"
               label="Save Game As"
               menubarPath="sampleMenu/file"
               style="push"
               tooltip="Hello, Eclipse world">
         </action>
         <action
               class="heroes.plugin.actions.SaveGameAction"
               icon="icons/Heroes-icon.jpg"
               id="heroes.plugin.saveGameAction"
               label="Save Game"
               menubarPath="sampleMenu/file"
               style="push">
         </action>
         <action
               class="heroes.plugin.actions.loadGameAction"
               icon="icons/Heroes-icon.jpg"
               id="heroes.plugin.actions.loadGameAction"
               label="Open Saved Game"
               menubarPath="sampleMenu/file"
               style="push">
         </action>
         <action
               class="heroes.plugin.actions.newGameAction"
               icon="icons/Heroes-icon.jpg"
               id="heroes.plugin.actions.newGameAction"
               label="New Game"
               menubarPath="sampleMenu/file"
               style="push"
               toolbarPath="sampleGroup"
               tooltip="Heroes of might and magic">
         </action>
         <action
               class="heroes.plugin.actions.ResetHighscoresAction"
               icon="icons/Heroes-icon.jpg"
               id="heroes.plugin.actions.resetHighscoresAction"
               label="Reset Highscores"
               menubarPath="sampleMenu/scores"
               style="push"
               tooltip="Hello, Eclipse world">
         </action>
         <action
               class="heroes.plugin.actions.DisplayHighscoresAction"
               icon="icons/Heroes-icon.jpg"
               id="heroes.plugin.actions.displayHighscoresAction"
               label="Display Highscores"
               menubarPath="sampleMenu/scores"
               style="push"
               tooltip="Hello, Eclipse world">
         </action>
         <action
               class="heroes.plugin.actions.AboutAction"
               icon="icons/Heroes-icon.jpg"
               id="heroes.plugin.actions.aboutAction"
               label="About"
               menubarPath="sampleMenu/help"
               style="push"
               tooltip="Hello, Eclipse world">
         </action>
         <action
               class="heroes.plugin.actions.AssistanceAction"
               icon="icons/Heroes-icon.jpg"
               id="heroes.plugin.actions.assistanceAction"
               label="Gameplay Assistance"
               menubarPath="sampleMenu/help"
               style="push"
               tooltip="Hello, Eclipse world">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="heroes.plugin.view.heroescategory"
            name="Heroes of might and magic">
      </category>
      <view
            category="heroes.plugin.view.heroescategory"
            class="heroes.plugin.view.HeroesView"
            icon="icons/Heroes-icon.jpg"
            id="heroes.plugin.view.heroesview"
            name="Heroes View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="heroes.plugin.Perspective"
            fixed="false"
            icon="icons/Heroes-icon.jpg"
            id="heroes.plugin.perspective.heroesperspective"
            name="Heroes Perspective">
      </perspective>
   </extension>

</plugin>
