<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="heroes.rap.Application"
            parameter="view"
            id="heroes.rap.Application">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="heroes.rap.Perspective"
            id="Heroes.rap.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="heroes.rap.View"
            id="Heroes.rap.view">
      </view>
   </extension>

</plugin>
